@import url("reset.css");


.header {
}
.main {
    min-height: 100%;
    overflow: hidden;
}

.main__wrapper{
    background: url("../img/transparent-treeline.png") 0 63px repeat-x;
    min-height: 100vh;
    position: relative;
    width: 5000px;
    transform: translateX(-3080px);
    background-position: bottom;
}
.tank {
    width: 1000px;
    position: absolute;
    transform: scale(0.4);
    right: 0;
    bottom: -100px;
}
.tank__head {
    width: 580px;
    height: 250px;
    background: linear-gradient(180deg, rgb(152, 187, 84) 46%, rgb(79, 118, 1));
    border-radius: 125px;
    border-width: 4px 13px; border-style: solid; border-color: #669900;
    position: relative;
    left: 25%;
    bottom: -50px;
}
.tank__triplex {    
    width: 160px;
    height: 60px;
    border-radius: 30px;    
    position: absolute;
    left: 35%;
    top: -45px;
    z-index: -1;
}
.tank__mask {
    width: 140px;
    height: 140px;
    border-radius: 25%;
    position: absolute;
    left: -50px;
    top: 18px;
    z-index: -1;
}
.tank__triplex, .tank__mask{
    background: linear-gradient(180deg, rgb(79, 97, 42) 46%, rgb(42, 63, 0));
    border-width: 9px 6px; border-style: solid; border-color: #2C4200;
}
.tank__gun {
    width: 280px;
    height: 50px;
    background-color: #2C4200;
    position: absolute;
    left: -270px;
    top: 26%;
    z-index: -2;
}
.tank__flamethrower {
    width: 95px;
    height: 85px;
    background-color: #2C4200;
    position: relative;
    top: -18px;
    border-radius: 10px;
    z-index: -1;
}


.tank__body {
    width: 1000px;
    height: 215px;
    border-radius: 100px;
    background-color: #87B131;
    position: relative;
    z-index: 8;
}
.nld {
    background-color: #402818;
    width: 1000px;
    height: 150px;
    border-radius: 50px 50px 100px 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
}
.tank__shelf {
    border: 23px solid #436400;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 30px;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 10;
}
.tank__caterpillar {
    border: 13px solid #9F6C4A;
    width: 990px;
    border-radius: 67px 67px 216px 216px;
    position: relative;
    top: 58px;
    left: 4px;
    text-align: center;
    z-index: 10;
}
.tank__small-whil {
    border: 6px dashed #A06D4B;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    background: #553520;
}
.tank__small-whil:first-child{
    position: absolute;
    left: 2px;
    top: 2px;
}
.tank__small-whil:last-child{
    position: absolute;
    right: 2px;
    top: 2px;
}
.tank__big-whil {
    border: 18px dashed #A06D4B;
    width: 225px;
    height: 225px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
    background: #553520;
}

.cone{
    position: fixed;
    right: 1258px;
    width: 59px;
    bottom: 369px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes move{
    0%{
        right: 0px;
    }
    100%{
        right: 300px;
    }
}

@keyframes gun-up{
    0%{
        transform-origin: 50% 50%;
        transform: rotate(0deg);
    }
    100%{
        transform-origin: top right;
        transform: rotate(20deg);
    }
}

@keyframes move-forest{
    0%{
        transform: translateX(-3080px);
    }
    100%{
        transform: translateX(-2780px); 
    }
}

@keyframes shot{
    0%{
        box-shadow: none;
    }
    100%{
        box-shadow: -28px -1px 36px red;
    }
}

@keyframes cone-fall{
    0%{
        transform: rotate(0);
        bottom: 369px;
    }
    100%{
        transform: rotate(90deg);
        bottom: 0;
    }
}

@keyframes cone-jump{
    0%{
        bottom: 15px;
        transform: rotate(0);
    }
    100%{
        bottom: 0;
        transform: rotate(90deg);
    }
}

.tank__small-whil, .tank__big-whil{
    animation-name: rotate;
    animation-duration: 3s;
    animation-timing-function: linear; 
    animation-iteration-count: 2;  
    animation-direction: alternate-reverse; 
}

.tank{
    animation-name: move;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

.tank__gun{
    animation-name: gun-up;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 6s;
    animation-fill-mode: forwards
}

.main__wrapper{
    animation-name: move-forest;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

.tank__flamethrower{
    animation-name: shot;
    animation-duration: 0.2s;
    animation-delay: 8s;
}

.cone {
    animation-name: cone-fall, cone-jump;
    animation-duration: 1s, 0.5s;
    animation-delay: 8.2s, 9.2s;
    animation-fill-mode: forwards, forwards;
}

