@import url("reset.css");
@import url("fonts.css");

body{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #808080;
    line-height: 150%;
}

header, footer{
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

.text-container{
    max-width: 678px;
    margin: 0 auto 70px;
    padding: 0 15px;
}

.text-container > p:not(:last-child){
    margin-bottom: 20px;
}

.text-container ul li{
    background: url("../img/check.png") 0 1px / 20px 20px no-repeat;
    padding-left: 28px;
    margin-bottom: 14px;
}

/*HYDRA block*/

.hydra-wrapper{
    background-color: #302C42;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    padding: 30px 0;
}

.about{    
    background: 
    url("../img/vector1.png") 50% 5% / 1440px 262px no-repeat,
     url("../img/vector2.png") 50% 87% / 1440px 219px no-repeat;
     margin-bottom: 100px;
}

.about-container {
    max-width: 1302px;
    margin: 0 auto;
    padding: 0 15px;
}

.about-wrapper {
    font-size: 0;
}

.img{
    max-width: 524px;
    border-radius: 240px 100px;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.about-block{
    max-width: 630px;
    margin-left: 118px;
    vertical-align: middle;
    font-size: 16px;
}

.img, .about-block {
    display: inline-block;
}

.about-main-text {
    font-size: 36px;
    font-weight: 300;
    line-height: normal;
    color: rgba(255, 255, 255, 0.95);
    margin-bottom: 42px;
}

.about-main-text strong{
    color: #ffffff;
}

.about-main-text ~ p{
    margin-bottom: 28px;
    line-height: normal;
}

.about-button {
    display: inline-block;
    padding: 17px 47px 16px 39px;
    font-size: 12px;
    font-weight: 700;
    color: #343045;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    text-align: center;
    border-radius: 40px;
    font-style: normal;
    line-height: normal;
}

/*CONTACTS*/

.contacts-container{
    max-width: 1302px;
    margin: 0 auto;
    padding: 0 15px;
}

.contacts-wrapper {
    padding: 26px 80px 22px 39px;
    border-radius: 90px;
    background: radial-gradient(circle, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
}

.contacts-item {
    display: inline-block; 
    max-width: 435px;
    vertical-align: top;
}

.contacts-title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}

.contacts-text {
    font-size: 14px;
}

.location > .contacts-holder{
    background: url("../img/location.png") 0 50% / 42px 63px no-repeat;
    padding: 25px 42px 33px 56px;
    min-height: 63px;
    margin-right: 47px;
    border-right: 1px solid rgba(192, 183, 232, 0.33);
}

.call > .contacts-holder{
    background: url("../img/call.png") 0 50% / 51px 51px no-repeat;
    padding: 25px 66px 33px 87px;
    min-height: 51px;
    margin-right: 50px;
    border-right: 1px solid rgba(192, 183, 232, 0.33);
}

.message > .contacts-holder{
    background: url("../img/mail.png") 0 50% / 55px 45px no-repeat;
    padding: 25px 0px 35px 76px;
    min-height: 45px;
}



