/* @import url("https://fonts.googleapis.com/css?family=Poppins:regular,500&display=swap"); */

@import url('reset.css');

body{
    font-family: "Comfortaa", sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

h1{
    font-size: 45px;
    font-weight: 700;
    text-shadow: 5px 5px 2px rgb(37, 138, 233);
}

.quote{
    font-style: italic;
}

.quote h2{
    font-weight: bold;
}

.quote p{
    text-align: right;
}

.line-through{
    text-decoration: line-through;
}

.underline{
    text-decoration: underline;
    text-decoration-style: wavy;
}

.overline{
    text-decoration: overline;
    text-decoration-color: red;
}

ul li{
    text-transform: uppercase;
    font-weight: 700;
}

.lowercase{
    text-transform: lowercase;
    color: #9b4d4d;
}

.capitalize{
    text-transform: capitalize;
    color: #9beb34;
}

.letter{
    letter-spacing: 10px;
    color: #e4f03f;
}

.spacing{
    word-spacing: 15px;
    color: #f354f3;
}

.home-task{
    font-family: "Poppins", sans-serif;
    color: #808080;
}

.home-task .first-paragraf{
    font-weight: 500;
    color: #1a1a1a;
}

.footer p{
    white-space: nowrap;
}

